{% extends "base_govuk.html" %}
{% load staticfiles %}

{% block page_title %}Jobs you can do{% endblock page_title %}

{% block body_classes %}sectors{% endblock body_classes %}

{% block cookie_message %}
  <p>We uses cookies to make the site simpler.
  <a href="/cookies">Find out more about cookies</a></p>
{% endblock cookie_message %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <div id="proposition-menu">
      <h1 id="proposition-name">Jobs you can do</h1>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/analytics/sectors.js' %}"></script>
{% endblock %}
