interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/soc/code/5432
  response:
    body: {string: '{"soc":5432,"tasks":" weighs ingredients according to recipe;\n
        mixes ingredients using hand or machine to obtain the required consistency;\n
        rolls and cuts pastry, stretches, kneads and moulds dough to form bread, rolls
        and buns;\n fills and glazes pastry, mixes ingredients for cakes;\n bakes
        bread, pastry and cakes;\n makes cake decorations, spreads icing, fillings
        and toppings on products.","description":"Bakers and flour confectioners prepare
        and bake dough, pastry and cake mixtures and make and finish flour confectionary
        products by hand.","title":"Bakers and flour confectioners","qualifications":"There
        are no formal academic entry requirements. Training is typically received
        on-the-job or by apprenticeship. Apprenticeships and traineeships leading
        to NVQs/SVQs at Levels 2 and 3 are available.","add_titles":["Assistant, baker''s","Assistant,
        confectioner''s (flour confectionery mfr)","Baker, master","Baker","Baker
        and confectioner","Boardman (bakery)","Confectioner, flour","Confectioner","Cook,
        pastry (bakery)","Decorator, cake","Decorator (flour confectionery)","Designer
        (flour confectionery mfr)","Foreman, bakery","Foreman, plant (bakery)","Foreman
        (bakery)","Foreman (flour confectionery mfr)","Hand, first (bakery)","Hand,
        pastry","Maker, cake (flour confectionery mfr)","Maker, confectionery (flour
        confectionery)","Maker (flour confectionery mfr)","Man, table (bakery)","Manager,
        baker''s","Manager, bakery","Manufacturer (flour confectionery mfr)","Pastrycook
        (bakery)","Specialist, sugarcraft","Superintendent (bakery)","Superintendent
        (biscuit mfr)","Superintendent (flour confectionery mfr)"]}'}
    headers:
      Content-Type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
version: 1
